__pycache__/
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# PyCharm
.idea

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
VENV
log.html
output.xml
report.html
*-screenshot-*.png
demo/test_doubandaily.txt
htmlcov/
run.sh
# for eclipse
.settings
.eggs/
.cache/
venv*/
